[Desktop Entry]
Type=Application
Name=Cannonball
Comment=OutRun Engine
Exec=cannonball
Icon=icon
Terminal=false
Categories=emulators;
X-OD-NeedsDownscaling=false
X-OD-NeedsJoystick=false

